@font-face{
	font-family: akb;
	src: url(Akkurat-Bold.woff);
}
@font-face{
	font-family: akr;
	src: url(Akkurat-Regular.woff);
}

@font-face{
	font-family: arb;
	src: url(Arial-BoldMT.woff);
}

@font-face{
	font-family: ar;
	src: url(ArialMT.woff);
}

body {
	background-color:#fafafa;
}

.elem {
	position: absolute;
}

#center {
position: fixed;
top: 50%;
left: 50%;
margin-top: -357.5px;
margin-left: -252.5px;
}


/*MISE EN PAGE DU TEXTE*/

.NomACL {
	font-family: akb;
	margin-top: 18px;
	margin-left: 12px;
	font-size: 33px;
    white-space: nowrap;
    color: #104fa0
}

.SloganACL{
	font-family: akb;
	margin-top: 600px;
	margin-left: 12px;
	font-size: 38px;
	white-space: nowrap;
	color: #104fa0
}

.Sous_SloganACL{
	font-family: akr;
	margin-top: 686px;
	margin-left: 12px;
	font-size: 18px;
	white-space: nowrap;
	color: #009fda

}

.NomFPD{
	font-family: arb;
	margin-top: 12px;
	margin-left: 9px;
	font-size: 46px;
    white-space: nowrap;

}

.SloganFPD{
	font-family: arb;
	margin-top: 600px;
	margin-left: 9px;
	font-size: 37px;
	white-space: nowrap;
	color: white;

}

.Sous_SloganFPD{
	font-family: ar;
	margin-top: 63px;
	margin-left: 10px;
	text-align: right;
	font-size: 17px;
    white-space: nowrap;	
}

.NomUST{
	margin-top: 25px;
}


.SloganUST{
	color: green;
}

.Sous_SloganUST{
	color: lightgreen;
}



